.App {
  text-align: center;
}
td,th,tr,table {
  border: 2px solid gray;
  font-size: 30px;
  border-collapse: collapse;
}
td,th:hover {
  background-color: blueviolet;
}

.main {
  display: inline-block;
  margin: 2%;
}
th {
  background-color: pink; 
}
td {
  background-color: sandybrown;
}
.total {
  background-color: lightblue;
}
body {
  background-color: bisque;
}
caption {
  background-color: palevioletred;
  font-size: 50px;
  font-style: italic;
}

